.sticky-header {
  position: fixed;
  z-index: 3;
  font-size: 1.0rem;
  left:0px;
  width: 100%;
}

.breadcrumbs {
  padding: 9px 20px;
  background-color: rgba($color-main-bg, 0.8);
  backdrop-filter: blur(5px);
  font-family: $font-body;
  color: $color-main-text;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  @media (min-width: 375px)
  and (max-width: 812px) {
    font-size: 0.8rem;
    letter-spacing: -0.08rem;
    padding: 7px 10px;
  }

  a {
    font-weight: 600;
    background-color: $color-accent-first;
    background-image: linear-gradient(45deg, $color-accent-first, lighten($color-accent-second, 3%));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }

  a:hover {
    background-image: linear-gradient(45deg, lighten($color-accent-first, 10%), lighten($color-accent-second, 10%));
  }

  .anticon {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.light-mode {
  .breadcrumbs {
    background-color: rgba($color-main-bg-light-theme, 0.8);
    color: $color-main-text-light-theme;

    a {
      color: $color-main-text-light-theme;
    }
  }
}


// .sticky-header-hidden {
//   top: -100px;
// }
.sticky-header-visible {
  top: 0px;
} 