.sticky-header {
  position: fixed;
  z-index: 3;
  font-size: 1.0rem;
  left:0px;
  width: 100%;
}

.breadcrumbs {
  padding: 5px 20px;
  background-color: rgba($color-main-bg, 1);
  // box-shadow: 0px 4px 8px 0px rgba(black, 0.3);
  font-family: $font-code;
  // font-feature-settings: "ss02" on,"ss01" on;
  font-weight: 400;
  color: $color-main-text;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  

  @media (min-width: 375px)
  and (max-width: 812px) {
    font-size: 0.8rem;
    letter-spacing: -0.08rem;
    padding: 5px 10px;
  }

  a {
    // color: $color-main-text;
    font-weight: 600;
    background-color: $color-accent-first;
    background-image: linear-gradient(45deg, $color-accent-first, $color-accent-second);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }

  .anticon {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.light-mode {
  .breadcrumbs {
    background-color: rgba($color-main-bg-light-theme, 1);
    color: $color-main-text-light-theme;
    // box-shadow: 0px 2px 8px 0px rgba($color-shadow, 0.15);

    a {
      color: $color-main-text-light-theme;
    }
  }
}

.headerColorBar {
  width: 100%;
  height: 1px;
  // background-image: linear-gradient(120deg, rgba($color-accent-first, 0.85) 0%, rgba($color-accent-second, 0.85) 100%);
  background: darken($color-main-bg, 3%);
  bottom: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.light-mode {
  .headerColorBar {
    background: darken($color-main-bg-light-theme, 3%);
  }
}

// .sticky-header-hidden {
//   top: -100px;
// }
.sticky-header-visible {
  top: 0px;
} 