@import "../_colors.scss";
@import "../_fonts.scss";

.light-mode header {
  h1 {
    color: $color-main-text-light-theme;
    text-shadow: 0 0 4px rgba(black, 0.1);

  }
}

.homeTitleContainer {
  width: 30%;
  margin-right: auto;
  h1 {
    font-size: 13em;
  }
}
@media (min-width : 375px) 
  and (max-width : 812px) {
    .homeTitleContainer {
      width: 80%;
      h1 {
        font-size: 7.5em;
      }
    }
  }

.nameContainer {
  margin: 0 0 1em 0;
}
